<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="128">
    <setting id="first_run" type="bool" default="true" label="First run"
             visible="false" />
    <setting id="video_quality" type="enum" values="Low|High|HD" default="2"
             label="Quality" />
    <setting label="Note: HD quality is only available to subscribers"
             type="lsep" />
    <setting type="sep" />
    <setting id="api_key" type="text" default="" option="hidden" label="API Key"
             visible="false" />
    <setting type="action"
             action="RunPlugin(plugin://plugin.video.giantbomb?mode=link_account)"
             label="Link account" visible="eq(-1,)" />
    <setting type="action"
             action="RunPlugin(plugin://plugin.video.giantbomb?mode=unlink_account)"
             label="Unlink account" visible="!eq(-2,)" />
  </category>
  <category label="Advanced">
    <setting id="use_https" type="bool" default="true"
             label="Use secure connections" />
    <setting label="Disable this option on systems that don't support TLS v1.1"
             type="lsep"/>
  </category>
</settings>
